<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Activity Creation</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <form class="d-flex">

      </form>
    </div>
  </div>
</nav>
<form [formGroup]="activityForm">
<div class="container bg-light p-4 mt-3">
  <div class="row">
    <div class="mb-4 col-md-6">
      <label for="exampleFormControlTextarea1" class="form-label">Department</label>
      <select class="form-select" aria-label="Default select example" formControlName="departmentId">
        <option *ngFor="let department of departments" [ngValue]="department.id">{{department.departmentName}}
        </option>
      </select>
    </div>
    <div class="mb-4 col-md-12">
      <label for="exampleFormControlInput1" class="form-label">Subject</label>
      <input type="text" class="form-control"
      formControlName="subject"
      id="exampleFormControlInput1" placeholder="subject name">
    </div>

      <div class="col-md-12 mb-3">
        <label for="">Assignee</label>
        <a href="" class="ms-2 text-success"  data-bs-toggle="modal" data-bs-target="#exampleModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
        </a>
      </div>
      <div class="col-md-12">
        <div class="assignee-list w-100 bg-white mb-3 p-2" style="min-height: 40px;">
               <span class="badge bg-secondary p-2 m-1" *ngFor="let item of userAsigness | userSelected">{{item.assigneeUserName}}</span>
        </div>
      </div>

    <div class="mb-3 col-md-6">
      <label for="exampleFormControlTextarea1" class="form-label">Type</label>
      <select class="form-select" aria-label="Default select example"
        formControlName="activityTypeId">
        <option *ngFor="let type of activityTypes$ | async" [ngValue]="type.id">{{type.typeName}}
        </option>
      </select>
    </div>
    <div class="mb-3 col-md-6">
      <label for="exampleFormControlTextarea1" class="form-label">Level</label>
      <select class="form-select" aria-label="Default select example"
      formControlName="level">
        <option  [ngValue]="0">Normal</option>
        <option [ngValue]="1">Important</option>
        <option [ngValue]="2">Urgent</option>
      </select>
    </div>
    <div class="mb-3 col-md-12">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <angular-editor  formControlName="description" [config]="editorConfig"></angular-editor>
    </div>

    <div class="col-md-12 d-flex justify-content-end">
        <button type="button" class="btn btn-outline-success"
        (click)="save()">Save Activity</button>
    </div>
  </div>
</div>
</form>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control mb-2" id="user-filter" [(ngModel)]="searchUserModel" placeholder="search user">
         <ul class="list-group">
           <li class="list-group-item d-flex flex-row justify-content-between" *ngFor="let user of userAsigness | filterBy: ['assigneeUserName']: searchUserModel;">
             <div>{{user.assigneeUserName}}</div>
             <span>
               <div class="form-check">
                 <input class="form-check-input" type="checkbox" [(ngModel)]="user.isSelected" id="flexCheckChecked"  [checked]="user.isSelected">
               </div>
             </span>
            </li>
         </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

