<div class="card h-100" >
  <div class="card-body" >
    <h5 class="card-title">Eskey's Received</h5>
    <div class="table-responsive" style="height: 300px; max-height: 300px; overflow-y: auto;">
    <table class="table mt-3 text-center">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Location</th>
          <th scope="col">Count</th>
          <th scope="col">Receiver</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>MEL</td>
          <td>15</td>
          <td>RY</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>VIC</td>
          <td>20</td>
          <td>RY</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>VIC</td>
          <td>10</td>
          <td>RY</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>VIC</td>
          <td>10</td>
          <td>RY</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
