<div class="card border-0 h-100" style="min-height: 280px;">
  <div class="card-body   d-flex flex-column">
    <h5 class="card-title">Received Eskeys</h5>
    <ng-container *ngIf="receivedEskeys.length > 0; else elseTemplate">
      <!-- <div class="table-responsive" style="height: 300px; max-height: 300px; overflow-y: auto;">
        <table class="table mt-3 text-center">
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Count</th>
              <th scope="col">DateTime Received</th>


            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of receivedEskeys; let indexCount = index;">
              <th scope="row">{{item.location}}</th>
              <td>{{item.count}}</td>
              <td>{{item.dateTimeReceived| date:'medium'}}</td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <ul class="list-group list-group-numbered">
        <li *ngFor="let item of receivedEskeys; let indexCount = index;" class="list-group-item d-flex justify-content-between ">
          <div class="me-auto ">
            <strong>{{item.location}}</strong>
            <div class="text-muted ">{{item.arrivalDateTime | date}}</div>
          </div>
          <div >   <span class="badge bg-primary badge-pill">{{item.count}}</span>
           </div>
        </li>
      </ul>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="container-fluid  flex-fill flex-column text-center align-items-center justify-content-center">
        <h4 class="">No Data</h4>
      </div>

    </ng-template>
  </div>
</div>
