<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title">Incoming Eskeys</h5>
    <div class="table-responsive">
      <table class="table mt-3 ">
        <thead>
          <tr>
            <th scope="col">Location</th>
            <th scope="col">Count</th>
            <th scope="col">Arrival DateTime</th>
            <th class="text-end">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of incomingEskeys">
            <th scope="row">{{item.location}}</th>
            <td>{{item.count}}</td>
            <td>{{item.arrivalDateTime | date}}</td>
            <td class="text-end">
              <button type="button" [routerLink]="['receive', item.id]" class="btn btn-outline-danger">Receive</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
