.item-detail:hover {
  background-color: rgb(247, 245, 245);
  cursor: pointer;
}

* {
  font-size: 14px;
}

li#activity-item.border-left-normal {
  border-left: 3px solid grey !important;
}

li#activity-item.border-left-important {
  border-left: 3px solid orange !important;
}

li#activity-item.border-left-urgent {
  border-left: 3px solid red !important;
}

