<form  [formGroup]="loginForm" (ngSubmit)="login()" class="d-flex flex-row justify-content-center">
  <div class="card mt-5 col-md-6 col-lg-6 col-sm-12">
    <div class="card-body p-5">
      <h3 class="card-title text-center">Welcome to PPMS</h3>
      <p class="card-text text-center text-muted">Please enter your login credentials</p>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" formControlName="username" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput2" class="form-label">Password</label>
        <input type="password" formControlName="password" class="form-control" id="exampleFormControlInput2" placeholder="password">
      </div>
      <div class="container-fluid">
        <div class="row ">
          <button type="submit" class="btn btn-primary  mb-1 col-sm-12 col-md-6 col-lg-6">Login</button>
          <button type="button" (click)="clear()" class="btn btn-outline-danger mb-1 col-sm-12 col-md-6 col-lg-6">Clear</button>
        </div>
      </div>
    </div>
  </div>
</form>
